@import '../../index.scss';

main {
  position: relative;
  width: 100%;
  max-width: 920px;
  height: 509px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-start;
  gap: 87px;
  align-items: center;
  overflow: hidden;

  .box {
    position: absolute;
    top: 204px;
    left: -84px;
  }

  .box_bg {
    position: absolute;
    top: 204px;
    left: -84px;
  }

  .faq,
  picture {
    transform: translateX(-16%);
  }
  .faq {
    display: flex;
    width: 100%;
    max-width: 40%;
    flex-direction: column;
    gap: 16px;
    .title {
      margin-bottom: 27px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: #1e1f36;
    }
  }
}
