@import '../../index.scss';

main {
  position: relative;
  width: 100%;
  max-width: 920px;
  min-height: 509px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-start;
  gap: 67px;
  align-items: center;

  .image {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    picture {
      position: relative;
      z-index: 2;
    }
    .pic {
      z-index: 2;
    }

    .box_bg {
      max-width: none;
      position: absolute;
      top: -293px;
      left: -569px;
      z-index: 1;
    }
  }

  .box {
    position: absolute;
    top: 100px;
    bottom: 0;
    margin: auto -92px;
    z-index: 3;
  }

  .faq,
  picture {
    transform: translateX(-16%);
  }
  .faq {
    display: flex;
    width: 100%;
    max-width: 40%;
    flex-direction: column;
    gap: 16px;
    .title {
      margin-bottom: 27px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: #1e1f36;
    }
  }
}
