@import '../../index.scss';

main {
  position: relative;
  width: 100%;
  max-width: 920px;
  min-height: 509px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-start;
  gap: 67px;
  align-items: flex-start;
  @include mq(950px) {
    gap: 0;
    padding-left: 24px;
    align-items: flex-end;
  }

  .image {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    picture {
      position: relative;
      z-index: 2;
    }
    .pic {
      z-index: 2;
      max-width: none;
    }

    .box_bg {
      max-width: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -58%);
      left: -569px;
      z-index: 1;
    }
  }

  .box {
    position: absolute;
    top: 100px;
    bottom: 0;
    margin: auto -92px;
    z-index: 3;
    @include mq(950px) {
      display: none;
    }
  }

  .faq,
  picture {
    transform: translateX(-16%);
    @include mq(950px) {
      transform: translateX(0);
    }
  }
  .faq {
    display: flex;
    width: 100%;
    max-width: 40%;
    flex-direction: column;
    gap: 16px;
    padding-top: 65px;
    padding-bottom: 65px;
    @include mq(950px) {
      max-width: 100%;
      padding-bottom: 48px;
    }
  }
}
