@import '../../index.scss';
section {
  p {
    font-size: 12px;
    line-height: 18px;
    color: #787887;
  }
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    @include mq(950px) {
      padding-right: 0px;
    }

    img {
      transition: all 0.2s ease-in-out;
    }

    .img {
      transform: rotate(180deg);
    }

    .ask {
      font-size: 14px;
      line-height: 17px;
      color: #4b4c5f;
      &:hover {
        color: #f47b56;
        cursor: pointer;
      }
    }

    .bold {
      color: #1e1f36;
      font-weight: 700;
    }
  }
  .answer {
    margin-top: 11px;
    max-height: 36px;
    transition: all 0.2s ease-in-out;
  }
  max-width: 350px;
  width: 100%;
  border-bottom: 1px solid #e8e8ea;
  padding-bottom: 18px;

  @include mq(950px) {
    max-width: 100%;
  }

  .answer_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
  }
  // .open {
  //   height: 50px;
  // }
}
