@import '../../index.scss';
section {
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
    padding-right: 24px;

    .img {
      transform: rotate(180deg);
    }

    .bold {
      color: #1e1f36;
      font-weight: 700;
    }

    .ask {
      &:hover {
        color: #f47b56;
        cursor: pointer;
      }
    }
  }
  max-width: 350px;
  width: 100%;
  border-bottom: 1px solid #e8e8ea;
  padding-bottom: 18px;
}
