@import '../../index.scss';
section {
  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
      transform: rotate(180deg);
    }
  }
  border-bottom: 1px solid #e8e8ea;
  padding-bottom: 18px;
}
